form {
    margin-top: 20px;
}

button {
    padding: 8px 30px 8px 30px;
    border-radius: 12px;
}

input {
    padding: 8px 60px 8px 60px;
    text-align: center;
    border-radius: 12px;
}

.space-between {
    margin: 0px 10px 0px 10px
}

.textbox-container {
    padding: 10px;
    border-radius: 5px;
    height: 250px;
    width: 600px;
    overflow: auto;
}


